@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Fredoka+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.wrapper{
    background-color: #FFFACD;
}
.titulo{
    font-family: 'Fredoka One', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #000;
    padding: 20px;
    padding-bottom: 2px;
}
.sub{
	font-family: 'Fredoka One', cursive;
    font-weight: 400;
    font-size: 25px;
    color: #000;
    padding-left: 10px;
}
.texto{
	font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    
}
.textoB{
	font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #FEFAE0;
}
.navbar{
    background-color: transparent;
    z-index: 3;
    width: 100vw;
    border-radius: 10px;
}
.collapse{
    display: flex;
    justify-content: space-between;
}
.nav-link{
    color: #000;
    font-family: 'Fredoka', sans-serif;
    font-size: 20px;
}
.alert{
    background-color: #FEFAE0;
}
.main{
    background-color: #AF7D41;
}
.main .row{
    background-color: #AF7D41;
    display: flex;
    justify-content: center;
}
.main h1{
    font-family: 'Fredoka One', cursive;
    color: #000;
    font-weight: 500px;
    font-size: 80px;
}
.main h3{
    font-family: 'Fredoka', sans-serif;
    color: #000;
    font-weight: 400px;
    font-size: 50px;
}
.main hr{
    background-color:#000;
}
#sobre .alert{
    background-color: #606c38;
    font-family: 'Fredoka', sans-serif;
    color: #000;
    font-size: 20px;
}
#perfil{
    background-color: #FFFACD;
}
#sobre{
    background-color: #FFFACD;
}
#enem{
    background-color: #FFFACD;
}
#enem .card{
    height: 500px;
    background-color: #CD8A39;
}
#cursos{
    background-color: #FFFACD;
}
#universidades{
    background-color: #FFFACD;
}
#universidades .row{
    display: flex;
    justify-content: space-around;
}
#universidades .col-lg-3{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #606c38;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    align-items: center;
}
#grade{
    background-color: #FFFACD;
}
#area{
    background-color: #FFFACD;
}
#salario{
    background-color: #FFFACD;
}
#salario .card{
    background-color: #DAA520;
}
#cr{
    background-color: #FFFACD;
}
#cr .alert{
    background-color: #AF7D41;
    font-family: 'Fredoka', sans-serif;
    color: #000;
    font-size: 20px;
}
#cr .media-body{
    border-radius: 10px;
}
#entrevista{
    background-color: #FFFACD;
}
figure{ 
    width: 50%; 
    min-width: 17.5em; 
    margin:0 auto;
}
figcaption { 
    font: 120% sans-serif; 
    text-align: center;}
.boxVideo {
    position: relative;
    padding-bottom: 50%; 
    padding-top: 25px;
    height: 0;
    margin:0 auto;
    display: flex;
    justify-content: center;
}
.boxVideo iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
#fotter .container{
    background-color: #AF7D41;
    max-width: 100%;
}