@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Fredoka+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.navbar{
    background-color: #AF7D41;
}
.nav-link{
    color: #FEFAE0;
}
.main{
    background-color: #AF7D41;
    height: 100vh;
    width: 100%;
}
.main h1{
    font-family: 'Fredoka One', cursive;
    color: #FEFAE0;
    font-weight: 500px;
    font-size: 80px;
}
.main h3{
    font-family: 'Fredoka', sans-serif;
    color: #A24502;
    font-weight: 400px;
    font-size: 50px;
}
#perfil{
    background-color: #AF7D41;
}
#sobre{
    background-color: #AF7D41;
}
#enem{
    background-color: #AF7D41;
}
#cursos{
    background-color: #AF7D41;
}
#grade{
    background-color: #AF7D41;
}
#area{
    background-color: #AF7D41;
}
#salario{
    background-color: #AF7D41;
}
#cr{
    background-color: #AF7D41;
}
#entrevista{
    background-color: #AF7D41;
}